
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #03051c;
    /*overflow-x: hidden;*/
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background-color: #03051c;
    color: white;
}
.navbar{
    display: flex;
    justify-content:space-between;
    padding: 1.5rem;
    margin-left: 30%;
    margin-right: 3rem;
}
.brand h1{
    font-size: 100px;
    margin-top: 4rem;
    margin-left: 3rem;
}
.brand span{
    color: rgb(19, 124, 89);
    font-size: 150px;
}
.menu{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.menu li{
    list-style: none;
    
}
.menu a{
    color: white;
    text-decoration: none;
    padding: 8px 20px;
}
.menu .active{
    color: rgb(19, 124, 89);
}
.menu a:hover{
    background-color: rgb(19, 124, 89);
    color: #03051c;
    transition: ease-in .2s;
}
.info-content {
    color: white;
    width:20%;
    margin-top: 0;
    margin-left: 3rem;
    font-size: 15px;
} 
.photo img{
    height: 33rem;
    width: auto;
    margin-left: 38%;
    margin-top: -25%;
}
.exp {
    margin-left: 65%;
    margin-top: -40%;
}
.exp span{
    color: rgb(19, 124, 89);
    font-size: 40px;
}
.exp button{
    width: 40px;
    height: 40px;
    margin: 3px;
    border-radius: 100%;
    cursor: pointer;
}
.rectangle {
   margin-left: auto;
   margin-right: auto;
   width: 50rem;
   height: 9rem;
   background-color: rgb(59, 57, 57);
   border-radius: 15px;
   text-align: center;
}
.card button{
    width: 9rem;
    height: 5rem;
    border-radius: 8px;
    margin: 4%;
    cursor: pointer;
}
.article img{
    width: 4rem;
    height: auto;
}
.acerca{
    text-align: center;

}
.acerca h2{
    color:rgb(19, 124, 89);
    font-size: 50px;
    margin-top: 6rem;
}
.acerca p{
    color: white;
    font-size: 30px;
    margin: 3rem ;
}
.servicios button{
    width: 15rem;
    height: 24rem;
    margin: 3rem;
    cursor: pointer;

}
.servicios p{
    color: black;
    font-size: 10px;
}
.habilidades p{
    font-size: 15px;
    margin-top: 4rem;
    margin-bottom: 0;
}
.habilidades .web{
    width: 40%;
}
.habilidades .desing{
    width: 44%;
}
.habilidades .ux{
    width: 35%;
}
progress[value] {
    width: 50rem;
    height: 3rem;
  }
.portafolios img{
    margin-top: 3rem;
    width: 30rem;
    height: auto;
    margin: 3rem;
}
.contacto button{
    width: 15rem;
    height: 15rem;
    margin: 3rem;
    cursor: pointer;
}
.footer{
    background-color: rgb(59, 57, 57);;
    height: 7rem;
    color: rgb(19, 124, 89);
}
.footer h2{
    float: none !important;
    text-align: center;
    font-size: 20px;
}
